@model MvcConciertosAMH.Models.Evento

@{
    ViewData["Title"] = "CambiarCategoria";
    List<Categoria> categorias = ViewData["CATEGORIAS"] as List<Categoria>;
}

<h1>CambiarCategoria</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CambiarCategoria">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="IdEvento" class="form-control" />


                <input hidden asp-for="Nombre" class="form-control" />

   
                <input hidden asp-for="Artista" class="form-control" />

            <div class="form-group">
                <select name="idcategoria" class="form-control">
                    @foreach (Categoria c in @categorias)
                    {
                        <option value="@c.IdCategoria">@c.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
